*{
    padding: 0px;
    margin: 0px;
}


/* HEADER */

#logo{
    background-color: firebrick;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(4, 30, 66);
    width: 115px;
    height: 55px;
    color: inherit;
    float: left;
    font-size: 11.2px;
   color: #FFFFFF;
   /**/
   margin-left: 34px;
}

#logo h1{
    text-align: center;
    line-height: 50px;
}

#menu{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    /*margin-bottom: 20px;   puede ser.. 45 55 60*/ 
    background-color: rgb(4, 30, 66);
    color: #CDD2D9;
}

#menu ul{
    line-height: 46px;
    height: 55px;
    /*list-style: none;*/
    list-style: none;
}

#menu ul li{
    height: 46px;
    display: inline-block;
    /**/
    margin-left: 50px;

}

#menu a{
    background-color: royalblue;
    background-color: transparent;
    display: block;
    text-decoration: none;
    color: #CDD2D9;
    padding-left: 25px;
    padding-right: 30px;
    /**/
}

#menu li:first-child{
    margin-left: 135px;
}



/*MENU DESPLEGABLE*/

#menu > .main-nav > li > .main-tab-container{
    display: none;
    position: absolute;
    text-align: center;
    width: 1240px;
    height: 500px;
    box-shadow:  0px 2px 2px gray;
    background: rgba(20,29,37,0.97);
    background-color: rgb(142, 241, 245);
    padding: 20px;
    z-index: 3;
    /*margin-left: -250px;*/
    left: 27px;
    margin-top: 9px;
    overflow: auto;
    overflow: hidden;
    font-family: "robotoRegular",Arial,sans-serif,helvetica;

}

#menu > .main-nav > li:hover > .main-tab-container{
    display: block;
}

#menu > .main-nav > li:hover > .main-tab-container > .tab-content  {
    list-style: none;
    font-size: 12px;
    background: transparent;
    background-color: rgb(255, 255, 255);

    border-bottom: 3px solid yellow;
    width:  1250px;
    height: 500px;
    /*
    overflow:auto


    padding: 20px;
    border-bottom: 1px solid orange;
    line-height: 3px;
    transition: 300ms;
    */
    
}


#menu > .main-nav > li:hover > .main-tab-container > .tab-content  > .tab-column{
    margin-right: 0;
    width: 200px;
    width: 22%;
    height: 300px;
    float: left;
    background-color: rgb(181, 238, 50);
    margin-left: 10px;
    padding: 7px;
    border-bottom: 1px solid orange;
    line-height: 1px;
    font-size: 13px;
    transition: 300ms;
    
}

#menu > .main-nav > li:hover > .main-tab-container > .tab-content  > .tab-column:first-child{
    width: 25%;
    float: left;
    font-family:  "robotoRegular",Arial,sans-serif,helvetica;
    list-style: none;
}


#menu > .main-nav > li:hover > .main-tab-container > .tab-content  > .tab-column:first-child > .main-tab-header{
    font-family: "robotoBold",Arial,helvetica;
    font-size: 18px;
    color: #5d6d7e;
    margin-bottom: 8px;
    display: block;
    margin-left: -253px;
}


#menu > .main-nav > li:hover > .main-tab-container > .tab-content  > .tab-column:first-child > ul{
    font-family: "robotoBold",Arial,helvetica;
    font-size: 8px;
    overflow: visible;
    list-style: none;
}

#menu > .main-nav > li:hover > .main-tab-container > .tab-content  > .tab-column:first-child > ul > .tab-list{
    float: left;
    display: block;
    width: 100%;
    list-style: none;
    color: white;
    font-size: 20px;
    margin-left: -122px;
}

#menu > .main-nav > li:hover > .main-tab-container > .tab-content  > .tab-column:first-child > ul > li > a {
    color: white;
}


#menu > .main-nav > li:hover > .main-tab-container > .tab-content  > .tab-column:nth-child(2){
    width: 23%;
    float: left;
    font-family:  "robotoRegular",Arial,sans-serif,helvetica;
    list-style: none;
    background-color: teal;
}







#menu > .main-nav > li:hover > .main-tab-container > .tab-content  > .margin-column{
    margin-top: 34px;
    /*
    background: transparent;*/
}


#nav > ul > li:hover > ul > li> a{
    color: chocolate    ;
}

#nav > ul > li:hover > ul > li:hover{
    /* box-shadow: 0px 0px 3px rgb(0, 255, 76) inset; */
    background: rgb(145, 145, 145);
}





/* SECTION */

#content {
    background-color: rgb(165, 243, 184);
    height: 1700px;
    width: 100%;
    display: block;
    margin: 0px auto;
    padding-top:40px;
}

.main{
    background-color: royalblue;
    height: 4000px;
    width: 990px;
    margin: 0px auto;
    display: block;
}


    /* main-content-1 */

#main-content-1{
    background-color: fuchsia;
    width: 990px;
    height: 434px;
}

/**/

#main-content-1>ul{
    background-color: rgb(223, 161, 161);
    width: 990px;
    height: 417px;
    list-style: none;

}

#main-content-1 .item-1 .mod-item-soccer{
    background-color: lightseagreen;
    width: 660px;
    height: 366px;
}

#main-content-1 .item-1 .mod-item-soccer .img  img{
    width: 100%;
    height: auto;
    display: block;
    margin-top: 23px;
}




#main-content-1 .item-1:first-child{
    float: left;
}


#main-content-1 .item-1:first-child{
    float: left;
}



#main-content-1 .item-1:first-child .ribbon{
    color: #FFF;
    position: absolute;
    top: 118px;
    font-size: 12px;
    font-family: "robotoMedium",Arial,helvetica;
    text-transform: uppercase;
    background-color: #3367d6;
    text-align: center;
    padding: 3px 6px;
    z-index: 1;
}



#main-content-1 .item-1:first-child .mod-header{
    color: #FFF;
    display: block;
    margin-top: 10px;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2;
    background-color: transparent;
    bottom: 27%;
 
}




#main-content-1 .item-1:first-child .mod-header h2{
    font-size: 45px;
    margin-top: 10px;
    line-height: 54px;
    margin-bottom: 4px;
}

#main-content-1 .item-1:first-child footer{
    display: block;
}

#main-content-1 .item-1:first-child .mod-footer{
    /*background-color: rgb(43, 76, 226); solo prueba*/
    background-color: transparent;
    position: absolute;
    width: 49%;
    /*bottom: -90px;*/
    top: 500px;
    border-bottom: 1px solid #a3a3a3;
    /*  border-bottom: 2px solid #a3a3a3;*/
    overflow: hidden;
    display: block;
    float: left;
    height: 10px;
}



#main-content-1 .item-1:first-child .mod-footer .mod-comments{
    /*display: inline-block;
    background-color: black; talvez no.. */

    text-align: right;
    width: 100%;
    height: auto;
    overflow: visible;
    float: right;
    text-align: right;
    font-size: 12px;
    list-style: none;
    background-color: transparent;
    height: 21px;
    top: 100px;
}




#main-content-1 .item-1:nth-child(2){
    background-color: rgb(202, 238, 144);
    /*width: 33.3%;*/
    width: 327px;
    height: 139px;
    float: right;
    display: block;

}


#main-content-1 .item-1:nth-child(2) .img {
    float: left;
}

#main-content-1 .item-1:nth-child(2) .img img{
    width: 140px;
    height: 80px;
    margin-left: 20px;
    margin-top: 34px;
}



#main-content-1 .item-1:nth-child(2) .ribbon{   
    color: #FFF;
    position: absolute;
    /*top: 129px;*/
    /*top: 120px;*/
    margin-top: 13px;
    margin-left: 20px;
    font-size: 12px;
    font-family: "robotoMedium",Arial,helvetica;
    text-transform: uppercase;
    background-color: #3367d6;
    text-align: center;
    padding: 3px 6px;
    z-index: 1;
    font-weight: normal;
    /*display: inline-block;*/

}







#main-content-1 .item-1:nth-child(2) .mod-header{
    padding-left: 13px;
    display: block;
    width: 157px;
    float: right;
    margin-top: -83px;
    background-color: gold;
    background-color: transparent;
}


#main-content-1 .item-1:nth-child(2) .mod-header h2{
    display: block;
    font-size: 17px;
    float: left;
    padding-left: 1px;
}



#main-content-1 .item-1:nth-child(2) .mod-footer{
    background-color: transparent;
    position: absolute;
    width: 22%;
    /*bottom: -90px;*/
    top: 223.2px;
    border-bottom: 1px solid #a3a3a3;
    /*  border-bottom: 2px solid #a3a3a3;*/
    overflow: hidden;
    display: block;
    float: left;
    height: 10px;
    margin-left: 20px;
}



#main-content-1 .item-1:nth-child(2) .mod-footer .mod-comments{
    text-align: right;
    width: 100%;
    height: auto;
    overflow: visible;
    float: right;
    text-align: right;
    font-size: 12px;
    list-style: none;
    background-color: transparent;
    height: 21px;
    top: 100px;
}












#main-content-1 .item-1:nth-child(3){
    background-color: gold;
    float: right;
    width: 327px;
    height: 139px;
}








#main-content-1 .item-1:nth-child(3) .img {
    float: left;
}

#main-content-1 .item-1:nth-child(3) .img img{
    width: 140px;
    height: 80px;
    margin-left: 20px;
    margin-top: 34px;
}


#main-content-1 .item-1:nth-child(3) .ribbon{   
    color: #FFF;
    position: absolute;
    /*top: 268px; /*247*/
    margin-top: 13px;
    margin-left: 20px;
    font-size: 12px;
    font-family: "robotoMedium",Arial,helvetica;
    text-transform: uppercase;
    background-color: #3367d6;
    text-align: center;
    padding: 3px 6px;
    z-index: 1;
    font-weight: normal;
    /*display: inline-block;*/

}



#main-content-1 .item-1:nth-child(3) .mod-header{
    padding-left: 13px;
    display: block;
    width: 157px;
    float: right;
    margin-top: -85px;
    background-color: rgb(207, 224, 204);
    background-color: transparent;
}


#main-content-1 .item-1:nth-child(3) .mod-header h2{
    display: block;
    font-size: 17.5px;
    float: left;
    padding-left: 1px;
}


#main-content-1 .item-1:nth-child(3) .mod-footer{
    background-color: transparent;
    position: absolute;
    width: 22%;
    /*bottom: -90px;*/
    top: 362.2px;
    border-bottom: 1px solid #a3a3a3;
    /*  border-bottom: 2px solid #a3a3a3;*/
    overflow: hidden;
    display: block;
    float: left;
    height: 10px;
    margin-left: 20px;
}



#main-content-1 .item-1:nth-child(3) .mod-footer .mod-comments{
    text-align: right;
    width: 100%;
    height: auto;
    overflow: visible;
    float: right;
    text-align: right;
    font-size: 12px;
    list-style: none;
    background-color: transparent;
    height: 21px;
    top: 100px;
}








#main-content-1 .item-1:nth-child(4){
    background-color: rgb(32, 240, 13);
    float: right;
    width: 327px;
    height: 139px;
}









#main-content-1 .item-1:nth-child(4) .img {
    float: left;
}

#main-content-1 .item-1:nth-child(4) .img img{
    width: 140px;
    height: 80px;
    margin-left: 20px;
    margin-top: 34px;
}


#main-content-1 .item-1:nth-child(4) .ribbon{   
    color: #FFF;
    position: absolute;
    /*top: 407px;/*386*/
    margin-top: 13px;
    margin-left: 20px;
    font-size: 12px;
    font-family: "robotoMedium",Arial,helvetica;
    text-transform: uppercase;
    background-color: #3367d6;
    text-align: center;
    padding: 3px 6px;
    z-index: 1;
    font-weight: normal;
    /*display: inline-block;*/

}

#main-content-1 .item-1:nth-child(4) .mod-header{
    padding-left: 13px;
    display: block;
    width: 157px;
    float: right;
    margin-top: -85px;
    background-color: rgb(207, 224, 204);
    background-color: transparent;
}


#main-content-1 .item-1:nth-child(4) .mod-header h2{
    display: block;
    font-size: 17.5px;
    float: left;
    padding-left: 1px;
}



#main-content-1 .item-1:nth-child(4) .mod-footer{
    background-color: transparent;
    position: absolute;
    width: 22%;
    /*bottom: -90px;*/
    top: 500px;
    border-bottom: 1px solid #a3a3a3;
    /*  border-bottom: 2px solid #a3a3a3;*/
    overflow: hidden;
    display: block;
    float: left;
    height: 10px;
    margin-left: 20px;
}



#main-content-1 .item-1:nth-child(4) .mod-footer .mod-comments{
    text-align: right;
    width: 100%;
    height: auto;
    overflow: visible;
    float: right;
    text-align: right;
    font-size: 12px;
    list-style: none;
    background-color: transparent;
    height: 21px;
    top: 100px;
}












    /* main-content-2 */

    #main-content-2{
        background-color: blueviolet;
        width: 990px;
        height: 689.8px;
        margin-top: 12px;
    }
    
    #main-content-2>ul{
        background-color: rgb(226, 164, 82);
        width: 990px;
        height: 620px;
        list-style: none;
    }

    #main-content-2> ul  .item-2{
        background-color: brown;
        width: 305px;
        height: 300px;
        margin-right: 20px;
        margin-bottom: 20px;
        display: block;
        float: left;
    }



    #main-content-2  ul  .item-2 .mod-item-soccer {
        position: relative;
        background-color: blanchedalmond;
    }


    #main-content-2  ul  .item-2 .mod-item-soccer .img{
        height: 174px;
        float: none;
        height: auto;
        width: 100%;
        margin: 0 20px 0 0;
    }

    #main-content-2  ul  .item-2 .mod-item-soccer .img img{
        width: 310px;
        height: 174px;
        display: block;
    }



    #main-content-2  ul  .item-2 .mod-item-soccer  .article-container{
        background-color: yellow;
        background-color: transparent;
        width: auto;
        height: auto;
        float: none;
        overflow: hidden;
    }


    
    #main-content-2  ul  .item-2 .mod-item-soccer  .article-container .ribbon{
        position: absolute;
        top: 0px;
        background-color: #c00;
        color: #FFF;
        display: inline-block;
        font-family: "robotoMedium",Arial,helvetica;
        font-size: 12px;
        padding: 3px 6px;
    }

    #main-content-2  ul  .item-2 .mod-item-soccer  .article-container .ribbon span{
        background-color: transparent;
    }

    #main-content-2  ul  .item-2 .mod-item-soccer  .article-container .mod-header{
        background-color: rgb(235, 247, 247);
        width: 305px;
        height: 75px;
        padding-top: 12px;
        display: block;
    }



#main-content-2  ul  .item-2 .mod-item-soccer  .article-container .mod-header .mod-title{
    color: #221F1F;
    margin-bottom: 5px;
    font-family: "robotoBold",Arial,helvetica;
    display: block;
    font-size: 19.4px;
}


#main-content-2  ul  .item-2 .mod-item-soccer  .article-container .mod-footer {
    /*background-color: rgb(186, 226, 43); solo prueba*/
    background-color: transparent;
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -30px;
    border-bottom: 1px solid #a3a3a3;
    overflow: hidden;
    display: block;

    
}

#main-content-2  ul  .item-2 .mod-item-soccer  .article-container .mod-footer  .mod-comments{
    /*background-color: rgb(42, 140, 165); solo prueba*/
    background-color: transparent;
    height: 21px;
    text-align: right;
    overflow: visible;
    float: right;
    list-style: none;
}







    /* main-content-3 */

    
    #main-content-3{
        background-color: blueviolet;
        width: 990px;
        height: 689.8px;
        margin-top: 12px;
    }
    
    #main-content-3>ul{
        background-color: rgb(226, 164, 82);
        width: 990px;
        height: 620px;
        list-style: none;
    }

    #main-content-3> ul  .item-3{
        background-color: brown;
        width: 305px;
        height: 300px;
        margin-right: 20px;
        margin-bottom: 20px;
        display: block;
        float: left;
    }



    #main-content-3  ul  .item-3 .mod-item-lifestyle {
        position: relative;
        background-color: blanchedalmond;
    }


    #main-content-3  ul  .item-3 .mod-item-lifestyle .img{
        height: 174px;
        float: none;
        height: auto;
        width: 100%;
        margin: 0 20px 0 0;
    }

    #main-content-3  ul  .item-3 .mod-item-lifestyle .img img{
        width: 310px;
        height: 174px;
        display: block;
    }



    #main-content-3  ul  .item-3 .mod-item-lifestyle  .article-container{
        background-color: yellow;
        background-color: transparent;
        width: auto;
        height: auto;
        float: none;
        overflow: hidden;
    }


    
    #main-content-3  ul  .item-3 .mod-item-lifestyle  .article-container .ribbon{
        position: absolute;
        top: 0px;
        background-color: #c00;
        color: #FFF;
        display: inline-block;
        font-family: "robotoMedium",Arial,helvetica;
        font-size: 12px;
        padding: 3px 6px;
    }

    #main-content-3  ul  .item-3 .mod-item-lifestyle  .article-container .ribbon span{
        background-color: transparent;
    }

    #main-content-3  ul  .item-3 .mod-item-lifestyle  .article-container .mod-header{
        background-color: rgb(235, 247, 247);
        width: 305px;
        height: 75px;
        padding-top: 12px;
        display: block;
    }



#main-content-3  ul  .item-3 .mod-item-lifestyle  .article-container .mod-header .mod-title{
    color: #221F1F;
    margin-bottom: 5px;
    font-family: "robotoBold",Arial,helvetica;
    display: block;
    font-size: 19.4px;
}


#main-content-3  ul  .item-3 .mod-item-lifestyle  .article-container .mod-footer {
    background-color: rgb(186, 226, 43);
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -30px;
    border-bottom: 1px solid #a3a3a3;
    overflow: hidden;
    display: block;

    
}

#main-content-3  ul  .item-3 .mod-item-lifestyle  .article-container .mod-footer  .mod-comments{
    background-color: rgb(42, 140, 165);
    height: 21px;
    text-align: right;
    overflow: visible;
    float: right;
    list-style: none;
}








#main-content-3  ul  .item-3 .mod-item-lifestyle .article-container .mod-footer {
    /*background-color: rgb(186, 226, 43); solo prueba*/
    background-color: transparent;
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -30px;
    border-bottom: 1px solid #a3a3a3;
    overflow: hidden;
    display: block;

    
}

#main-content-3  ul  .item-3 .mod-item-lifestyle .article-container .mod-footer  .mod-comments{
    /*background-color: rgb(42, 140, 165); solo prueba*/
    background-color: transparent;
    height: 21px;
    text-align: right;
    overflow: visible;
    float: right;
    list-style: none;
}




















 /* main-content-4 */

 #main-content-4{
    background-color: fuchsia;
    width: 990px;
    height: 434px;
}

/**/

#main-content-4>ul{
    background-color: rgb(223, 161, 161);
    width: 990px;
    height: 417px;
    list-style: none;

}

#main-content-4 .item-4 .mod-item-soccer{
    background-color: lightseagreen;
    width: 660px;
    height: 366px;
}

#main-content-4 .item-4 .mod-item-soccer .img  img{
    width: 100%;
    height: auto;
    display: block;
    margin-top: 23px;
}




#main-content-4 .item-4:first-child{
    float: left;
}


#main-content-4 .item-4:first-child{
    float: left;
}



#main-content-4 .item-4:first-child .ribbon{
    color: #FFF;
    position: absolute;
    top: 118px;
    /*top: 1956px;*/
    margin-top: 1838px;
    font-size: 12px;
    font-family: "robotoMedium",Arial,helvetica;
    text-transform: uppercase;
    background-color: #3367d6;
    text-align: center;
    padding: 3px 6px;
    z-index: 1;
}



#main-content-4 .item-4:first-child .mod-header{
    color: #FFF;
    display: block;
    margin-top: 10px;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2;
    background-color: transparent;
    bottom: 27%;
 
}




#main-content-4 .item-4:first-child .mod-header h2{
    font-size: 45px;
    margin-top: 10px;
    line-height: 54px;
    margin-bottom: 4px;
}

#main-content-4 .item-4:first-child footer{
    display: block;
}

#main-content-4 .item-4:first-child .mod-footer{
    /*background-color: rgb(43, 76, 226); solo prueba*/
    background-color: transparent;
    position: absolute;
    width: 49%;
    /*bottom: -90px;*/
    top: 2338px;
    border-bottom: 1px solid #a3a3a3;
    /*  border-bottom: 2px solid #a3a3a3;*/
    overflow: hidden;
    display: block;
    float: left;
    height: 10px;
}



#main-content-4 .item-4:first-child .mod-footer .mod-comments{
    /*display: inline-block;
    background-color: black; talvez no.. */
    text-align: right;
    width: 100%;
    height: auto;
    overflow: visible;
    float: right;
    text-align: right;
    font-size: 12px;
    list-style: none;
    background-color: transparent;
    height: 21px;
    top: 100px;

}


#main-content-4 .item-4:nth-child(2){
    background-color: rgb(202, 238, 144);
    /*width: 33.3%;*/
    width: 327px;
    height: 139px;
    float: right;
    display: block;

}


#main-content-4 .item-4:nth-child(2) .img {
    float: left;
}

#main-content-4 .item-4:nth-child(2) .img img{
    width: 140px;
    height: 80px;
    margin-left: 20px;
    margin-top: 34px;
}

#main-content-4 .item-4:nth-child(2) .ribbon{
    color: #FFF;
    position: absolute;
    top: 118px;
    /*top: 1956px;*/
    margin-top: 1828px;
    margin-left: 20px;
    font-size: 12px;
    font-family: "robotoMedium",Arial,helvetica;
    text-transform: uppercase;
    background-color: #3367d6;
    text-align: center;
    padding: 3px 6px;
    z-index: 1;
}

#main-content-4 .item-4:nth-child(2) .mod-header{
    padding-left: 13px;
    display: block;
    width: 157px;
    float: right;
    margin-top: -83px;
    background-color: gold;
    background-color: transparent;
}


#main-content-4 .item-4:nth-child(2) .mod-header h2{
    display: block;
    font-size: 17px;
    float: left;
    padding-left: 1px;
}


#main-content-4 .item-4:nth-child(2) .mod-footer{
    background-color: transparent;
    position: absolute;
    width: 22%;
    /*bottom: -90px;*/
    top: 2061.2px;
    border-bottom: 1px solid #a3a3a3;
    /*  border-bottom: 2px solid #a3a3a3;*/
    overflow: hidden;
    display: block;
    float: left;
    height: 10px;
    margin-left: 20px;
}



#main-content-4 .item-4:nth-child(2) .mod-footer .mod-comments{
    text-align: right;
    width: 100%;
    height: auto;
    overflow: visible;
    float: right;
    text-align: right;
    font-size: 12px;
    list-style: none;
    background-color: transparent;
    height: 21px;
    top: 100px;
}






#main-content-4 .item-4:nth-child(3){
    background-color: gold;
    float: right;
    width: 327px;
    height: 139px;
}








#main-content-4 .item-4:nth-child(3) .img {
    float: left;
}

#main-content-4 .item-4:nth-child(3) .img img{
    width: 140px;
    height: 80px;
    margin-left: 20px;
    margin-top: 34px;
}

#main-content-4 .item-4:nth-child(3) .ribbon{
    color: #FFF;
    position: absolute;
    top: 118px;
    margin-top: 1967px;
    margin-left: 20px;
    font-size: 12px;
    font-family: "robotoMedium",Arial,helvetica;
    text-transform: uppercase;
    background-color: #3367d6;
    text-align: center;
    padding: 3px 6px;
    z-index: 1;
}

#main-content-4 .item-4:nth-child(3) .mod-header{
    padding-left: 13px;
    display: block;
    width: 157px;
    float: right;
    margin-top: -85px;
    background-color: rgb(207, 224, 204);
    background-color: transparent;
}


#main-content-4 .item-4:nth-child(3) .mod-header h2{
    display: block;
    font-size: 17.5px;
    float: left;
    padding-left: 1px;
}


#main-content-4 .item-4:nth-child(3) .mod-footer{
    background-color: transparent;
    position: absolute;
    width: 22%;
    /*bottom: -90px;*/
    top: 2200.2px;
    border-bottom: 1px solid #a3a3a3;
    /*  border-bottom: 2px solid #a3a3a3;*/
    overflow: hidden;
    display: block;
    float: left;
    height: 10px;
    margin-left: 20px;
}



#main-content-4 .item-4:nth-child(3) .mod-footer .mod-comments{
    text-align: right;
    width: 100%;
    height: auto;
    overflow: visible;
    float: right;
    text-align: right;
    font-size: 12px;
    list-style: none;
    background-color: transparent;
    height: 21px;
    top: 100px;
}










#main-content-4 .item-4:nth-child(4){
    background-color: rgb(32, 240, 13);
    float: right;
    width: 327px;
    height: 139px;
}









#main-content-4 .item-4:nth-child(4) .img {
    float: left;
}

#main-content-4 .item-4:nth-child(4) .img img{
    width: 140px;
    height: 80px;
    margin-left: 20px;
    margin-top: 34px;
}

#main-content-4 .item-4:nth-child(4) .ribbon{
    color: #FFF;
    position: absolute;
    top: 118px;
    margin-top: 2106px;
    margin-left: 20px;
    font-size: 12px;
    font-family: "robotoMedium",Arial,helvetica;
    text-transform: uppercase;
    background-color: #3367d6;
    text-align: center;
    padding: 3px 6px;
    z-index: 1;
}

#main-content-4 .item-4:nth-child(4) .mod-header{
    padding-left: 13px;
    display: block;
    width: 157px;
    float: right;
    margin-top: -85px;
    background-color: rgb(207, 224, 204);
    background-color: transparent;
}


#main-content-4 .item-4:nth-child(4) .mod-header h2{
    display: block;
    font-size: 17.5px;
    float: left;
    padding-left: 1px;
}







#main-content-4 .item-4:nth-child(4) .mod-footer{
    background-color: transparent;
    position: absolute;
    width: 22%;
    /*bottom: -90px;*/
    top: 2338px;
    border-bottom: 1px solid #a3a3a3;
    /*  border-bottom: 2px solid #a3a3a3;*/
    overflow: hidden;
    display: block;
    float: left;
    height: 10px;
    margin-left: 20px;
}



#main-content-4 .item-4:nth-child(4) .mod-footer .mod-comments{
    text-align: right;
    width: 100%;
    height: auto;
    overflow: visible;
    float: right;
    text-align: right;
    font-size: 12px;
    list-style: none;
    background-color: transparent;
    height: 21px;
    top: 100px;
}














    /* main-content-5 */

    #main-content-5{
        background-color: blueviolet;
        width: 990px;
        height: 689.8px;
        margin-top: 12px;
    }
    
    #main-content-5>ul{
        background-color: rgb(226, 164, 82);
        width: 990px;
        height: 620px;
        list-style: none;
    }

    #main-content-5> ul  .item-5{
        background-color: brown;
        width: 305px;
        height: 300px;
        margin-right: 20px;
        margin-bottom: 20px;
        display: block;
        float: left;
    }



    #main-content-5  ul  .item-5 .mod-item-soccer {
        position: relative;
        background-color: blanchedalmond;
    }


    #main-content-5  ul  .item-5 .mod-item-soccer .img{
        height: 174px;
        float: none;
        height: auto;
        width: 100%;
        margin: 0 20px 0 0;
    }

    #main-content-5  ul  .item-5 .mod-item-soccer .img img{
        width: 310px;
        height: 174px;
        display: block;
    }



    #main-content-5  ul  .item-5 .mod-item-soccer  .article-container{
        background-color: yellow;
        background-color: transparent;
        width: auto;
        height: auto;
        float: none;
        overflow: hidden;
    }


    
    #main-content-5  ul  .item-5 .mod-item-soccer  .article-container .ribbon{
        position: absolute;
        top: 0px;
        background-color: #c00;
        color: #FFF;
        display: inline-block;
        font-family: "robotoMedium",Arial,helvetica;
        font-size: 12px;
        padding: 3px 6px;
    }

    #main-content-5  ul  .item-5 .mod-item-soccer  .article-container .ribbon span{
        background-color: transparent;
    }

    #main-content-5  ul  .item-5 .mod-item-soccer  .article-container .mod-header{
        background-color: rgb(235, 247, 247);
        width: 305px;
        height: 75px;
        padding-top: 12px;
        display: block;
    }



#main-content-5  ul  .item-5 .mod-item-soccer  .article-container .mod-header .mod-title{
    color: #221F1F;
    margin-bottom: 5px;
    font-family: "robotoBold",Arial,helvetica;
    display: block;
    font-size: 19.4px;
}




#main-content-5  ul  .item-5 .mod-item-soccer  .article-container .mod-footer {
    /*background-color: rgb(186, 226, 43); solo prueba*/
    background-color: transparent;
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -30px;
    border-bottom: 1px solid #a3a3a3;
    overflow: hidden;
    display: block;

    
}

#main-content-5  ul  .item-5 .mod-item-soccer  .article-container .mod-footer  .mod-comments{
    /*background-color: rgb(42, 140, 165); solo prueba*/
    background-color: transparent;
    height: 21px;
    text-align: right;
    overflow: visible;
    float: right;
    list-style: none;
}











    /* main-content-6 */

    
    #main-content-6{
        background-color: blueviolet;
        width: 990px;
        height: 689.8px;
        margin-top: 12px;
    }
    
    #main-content-6>ul{
        background-color: rgb(226, 164, 82);
        width: 990px;
        height: 620px;
        list-style: none;
    }

    #main-content-6> ul  .item-6{
        background-color: brown;
        width: 305px;
        height: 300px;
        margin-right: 20px;
        margin-bottom: 20px;
        display: block;
        float: left;
    }



    #main-content-6  ul  .item-6 .mod-item-lifestyle {
        position: relative;
        background-color: blanchedalmond;
    }


    #main-content-6  ul  .item-6 .mod-item-lifestyle .img{
        height: 174px;
        float: none;
        height: auto;
        width: 100%;
        margin: 0 20px 0 0;
    }

    #main-content-6  ul  .item-6 .mod-item-lifestyle .img img{
        width: 310px;
        height: 174px;
        display: block;
    }



    #main-content-6  ul  .item-6 .mod-item-lifestyle  .article-container{
        background-color: yellow;
        background-color: transparent;
        width: auto;
        height: auto;
        float: none;
        overflow: hidden;
    }


    
    #main-content-6  ul  .item-6 .mod-item-lifestyle  .article-container .ribbon{
        position: absolute;
        top: 0px;
        background-color: #c00;
        color: #FFF;
        display: inline-block;
        font-family: "robotoMedium",Arial,helvetica;
        font-size: 12px;
        padding: 3px 6px;
    }

    #main-content-6  ul  .item-6 .mod-item-lifestyle  .article-container .ribbon span{
        background-color: transparent;
    }

    #main-content-6  ul  .item-6 .mod-item-lifestyle  .article-container .mod-header{
        background-color: rgb(235, 247, 247);
        width: 305px;
        height: 75px;
        padding-top: 12px;
        display: block;
    }



#main-content-6  ul  .item-6 .mod-item-lifestyle  .article-container .mod-header .mod-title{
    color: #221F1F;
    margin-bottom: 5px;
    font-family: "robotoBold",Arial,helvetica;
    display: block;
    font-size: 19.4px;
}



#main-content-6  ul  .item-6 .mod-item-lifestyle  .article-container .mod-footer {
    /*background-color: rgb(186, 226, 43); solo prueba*/
    background-color: transparent;
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -30px;
    border-bottom: 1px solid #a3a3a3;
    overflow: hidden;
    display: block;

    
}

#main-content-6  ul  .item-6 .mod-item-lifestyle  .article-container .mod-footer  .mod-comments{
    /*background-color: rgb(42, 140, 165); solo prueba*/
    background-color: transparent;
    height: 21px;
    text-align: right;
    overflow: visible;
    float: right;
    list-style: none;
}














/* Footer */


body>footer{
    display: block;
    margin-top: 100px;
    background-color: red;
}

footer .site-footer{
    display: block;
    width: 600px;
    height: 500px;
    display: block;

}

.container-list-footer{
    max-width: 990px;
    background-color: aqua;
    margin: 0 auto;
    overflow: hidden;
    display: block;
}





.clearfix{              /* -> line-height: 80px; */
    float: none;
    clear: both;
}